.image-banner {
    object-fit: cover;
    object-position: center center;
    box-sizing: inherit;
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    object-position: center center;
}

.link {
    color: rgb(18, 18, 18);
    font-size: 14px;
}

.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.collage {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.collage__item--left {
    grid-column: 1 / span 2;
    grid-row: span 2 / auto;
}

.image-left-collage {
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.03);
}

.collage__item--right-top {
    grid-column-start: 3;
}

.collage__item--right-bottom {
    grid-column-start: 3;
}

.derechos {
    margin-top: 40px;
    margin-bottom: 20px;
}